<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Item</title>
</head>
<body>
    Create a New Wish List Item
    <a href='/dashboard'>Home</a>
    <a href='/logout'>Logout</a>

    <form method='post' action="/add_item">
        {%csrf_token%}
        <p>Item/Product <input name='i_name' type="text"></p>
        <button>Add</button>
    </form>
</body>
</html>