<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{item.item}}</title>
</head>
<body>
    <h1>{{item.item}}</h1>
    <a href='/dashboard'>Home</a>
    <a href='/logout'>Logout</a>
    <p>Created By: {{item.created_by.name}}</p>
    <p>Users who added this product/item under their wish list:</p>
    {% for u in others %}
        <p>{{u.name}}</p>
    {%endfor%}
</body>
</html>